/********侧边栏各元素尺寸*********/

// 收缩宽度
$sideWidthShrink: 64px;
// 展开宽度
$sideWidthExtend: 200px;

// logo宽度
$logoWidth: 50px;
// logo高度
$logoHeight: 40px;
// logo容器大小
$logoContainerHeight: 50px;

/********导航栏元素尺寸*************/
// 导航栏高度
$navBarHeight: 50px;

/*********标签栏元素尺寸************/
// 标签栏高度
$labelBarHeight: 50px;
